{% extends "layout.html" %} {% block content %}
<h1>Covid overview</h1>
<p>
  Coronaviruses (CoV) are a large family of viruses that cause illnesses ranging
  from the common cold to illnesses more serious such as Middle East Respiratory
  Syndrome (MERS-CoV) and severe acute respiratory syndrome (SARSCoV). A new
  coronavirus (nCoV) corresponds to a new strain that has not been identified in
  humans previously
</p>
<p>
  Coronaviruses are zoonotic in type, that is, they are transmitted from animals
  to humans. Detailed investigations have revealed that SARS-CoV and MERS-CoV
  were transmitted to humans by civet cats and dromedaries respectively. Several
  known coronaviruses circulate in animals which have not yet infected humans.
</p>
<p>
  Common signs of infection are symptoms breathing, fever, cough, shortness of
  breath and difficulty respiratory. In the most severe cases, the infection can
  cause pneumonia, severe acute respiratory syndrome, kidney failure and even
  death. Standard recommendations for preventing the spread of infection include
  regular hand washing, washing cover the mouth and nose when coughing and
  sneezing, cooking full of meat and eggs. Avoid close contact with anyone with
  symptoms of respiratory illness such as coughing and sneezing.
</p>
<br>
<br>
<h3>Some Numbers</h3>
{{fig|safe}} {% endblock %}
